.sec1 {
    color:white;
}
.sec2 {
}

.card {
    min-width: 80%;
    margin: 20px;
}

.head {
   margin: 20px;
}

.text {
    min-width: 80%;
    display: flex;
    justify-content: space-between;
}
