<section class="password-reset">
    <form
         fxLayout="column"
         fxLayoutGap="10px"
         fxLayoutAlign="center center"
         [formGroup]="passwordResetForm"
         (ngSubmit)="onSubmit()">

        <mat-form-field>
            <input
				type="email"
				matInput
				placeholder="Your email"
				name="email"
				formControlName="email">
			<mat-error *ngIf="passwordResetForm.controls['email'].errors?.required &&
                passwordResetForm.controls['email'].touched">Email must not be empty</mat-error>
            <mat-error *ngIf="!(passwordResetForm.controls['email'].errors?.required)">E-mail is invalid.</mat-error>
        </mat-form-field>

        <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="passwordResetForm.invalid">Submit</button>
    </form>
</section>
