<mat-toolbar color="primary" style="background: black">
    <mat-toolbar-row style="border-bottom: 1px solid gray">
        <div fxFlex fxlayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                <li *ngIf="!isAuth">
                    <a routerLink="/signup">Signup</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="isAuth">
                    <a style="cursor: pointer" (click)="onLogout()" >Logout</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div fxFlex fxLayout fxLayoutAlign="flex-start center"
                             fxLayoutGap="20px">
            鞋贩子
        </div>

        <div fxLayoutAlign="flex-end" fxHide.xs>
            <div fxLayout class="searchContainer">
                <input matInput placeholder="Search..." class="searchBox">
                <button mat-icon-button >
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <button mat-icon-button >
                <mat-icon>favorite_border</mat-icon>
            </button>

            <button mat-icon-button routerLink="/cart" >
                <mat-icon>shopping_cart</mat-icon>
                <span class="shopping-cart-number"*ngIf="count>0">
                    {{count}}
                </span>
            </button>

            <button mat-icon-button >
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
