a {
	text-decoration: none;
	color: white;
}

a:hover,
a:active {
	color: lightgray;
}

.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-caption {
	display: inline-block;
	padding-left: 8px;
}

.searchBox {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
	color: black;
}
.searchContainer {
	background-color: white;
	color: black;
	display: grid;
	grid-template-columns:1.5rem 4fr 1fr;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}
.searchBox:focus {
	width:400px;
	color: black;
}

.shopping-cart-number {
	color:blue;
	font-size:80%;
	background-color:#e74c3c;
	position:absolute;
	top:50%;
	line-height: 20px;
	left:70%;
	-webkit-transform:translate(-50%,-90%);
	-moz-transform:translate(-50%,-90%);
	transform:translate(-50%,-90%);
	padding:0 12%;
	border-radius:1000px;
}
