a {
	text-decoration: none;
	color: white;
}

a:hover,
a:active {
	color: lightgray;
}

.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-caption {
	display: inline-block;
	padding-left: 8px;
}

.searchBox {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 0.5rem;
	color: black;
}
.searchContainer {
	background-color: white;
	color: black;
	display: grid;
	grid-template-columns:1.5rem 4fr 1fr;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
}
.searchBox:focus {
    width:400px;
    color: red;
}
