<mat-toolbar color="primary" style="background: black">
    <mat-toolbar-row style="border-bottom: 1px solid gray">
        <div fxFlex fxlayout fxLayoutAlign="flex-end" fxHide.xs>
            <ul fxLayout fxLayoutGap="10px" class="navigation-items">
                <li>
                    <a routerLink="/signup">Signup</a>
                </li>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <div fxFlex fxLayout fxLayoutAlign="flex-start center"
                             fxLayoutGap="20px">
                Website Name
        </div>

        <div fxLayoutAlign="flex-end" fxHide.xs>
            <div fxLayout class="searchContainer">
                <input matInput placeholder="Search..." class="searchBox">
                <button mat-icon-button (click)="onToggleSidenav()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>favorite_border</mat-icon>
            </button>

            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>shopping_cart</mat-icon>
            </button>

            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
