<section class="signup-form">
    <form
         fxLayout="column"
         fxLayoutAlign="center center"
         [formGroup]="signupForm"
         (ngSubmit)="onSubmit()">

        <mat-form-field>
            <input
				type="email"
				matInput
				placeholder="Your email"
				name="email"
				formControlName="email">
			<mat-error *ngIf="signupForm.controls['email'].errors?.required &&
                signupForm.controls['email'].touched">Email must not be empty</mat-error>
            <mat-error *ngIf="!(signupForm.controls['email'].errors?.required)">E-mail is invalid.</mat-error>
        </mat-form-field>

        <div
            fxLayout="column"
            fxLayoutAlign="center center"
            formGroupName='pw' >
            <mat-form-field hintLabel="Should be at least 8 characters long">
                <input
                    type="password"
                    matInput
                    placeholder="Your password"
                    formControlName="password"
                    name="password">
                <mat-error
                    *ngIf="signupForm.get('pw').get('password').getError('required')
                    && signupForm.get('pw').get('password').touched">
                    Password is required
                </mat-error>

                <mat-error
                    *ngIf="signupForm.get('pw').get('password').getError('minlength')">
                    Password is too short
                </mat-error>
            </mat-form-field>

            <mat-form-field hintLabel="Please re-enter your password">
                <input
                    type="password"
                    matInput
                    formControlName="confirmPassword"
                    placeholder="confirmPassword"
                    [errorStateMatcher]="matcher"
                    name="password Confirmation">
                <mat-error *ngIf="signupForm.get('pw').getError('notSame')" >Password not matched</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary">Submit</button>
    </form>
</section>
